#flyoutShopMenu{
  width: 100vw;
  height: 100vh;
  background-color: rgba(240, 248, 255, 0.705);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .5s
  cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  max-width: 200px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: none;
}
#flyoutShopMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#flyoutShopMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
} 
#flyoutShopMenu li{
  margin: 0.5rem 0;
}
#flyoutShopMenu a{
   color: black;
    text-decoration: none;
    font-size: 0.5rem;
    border-radius: 10px;
    font-weight: 800;
    padding: 10px 30px;
    background-color: aliceblue;
}
#flyoutShopMenu a:active{
    background-color: black;
    color: aliceblue;
    font-size: 0.5rem;
    font-weight: 800;
    list-style: none;
    border-radius: 10px;
    padding: 20px 30px;
    text-decoration: none;
}
#flyoutShopMenu a:hover,
#flyoutShopMenu a:active{
  color: rgb(0, 0, 0);
  box-shadow: 20px rgb(104, 0, 0);
} 
@media screen and (min-width : 0px) and (max-width : 767px){
  #flyoutShopMenu{
    float: right;
  }
}
  /* @media screen and (max-width: 600px) {
  #flyouShopMenu a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 5px auto;
  border-top: 2px solid #61DAFB;
  border-bottom: 2px solid #61DAFB;
  border-left: 2px solid #61DAFB;
  border-right: 2px solid #61DAFB;
  border-width: 10px;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  background-color: #61DAFB;
  width: 40%;
} */

@media screen and (min-width : 0px) and (max-width : 767px){
  #flyoutShopMenu{
      width: auto;
      background-size: cover;
      float: right;
  }
} 