.logo{
  max-width: 100px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -200px;
}
#footer p{
 font-size: xx-small;
 text-align: center; 
 align-content: center; 
 margin: 10px 0;
}
ul.ui.secondary.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    list-style: none;
    background-color: #9c9c9ccb;
}
#footer{
  width: auto;
  height: auto;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0);
}
#footer a {
    color: aliceblue;
}
#footer-footer{
  margin-top: 100px;
}
#footer-footer img{
  margin: 10px 5px;
}
@media screen and (max-width: 992px) {
  .logo{
  width: 50px;
}
}