
#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to left,rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.904));
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .5s
  cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  max-width: 1200px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: none;
}
 
#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
} 
#flyoutMenu li{
  margin: 0.5rem 0;
}
#flyoutMenu a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 5px auto;
  border-top: 2px solid #61DAFB;
  border-bottom: 2px solid #61DAFB;
  border-left: 2px solid #61DAFB;
  border-right: 2px solid #61DAFB;
  border-width: 10px;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  background-color: #61DAFB;
  background-size: contain;
}
#flyoutMenu a:hover,
#flyoutMenu a:active{
  color: rgb(0, 0, 0);
  box-shadow: 20px rgb(104, 0, 0);
} 
@media screen and (max-width: 600px) {
  #flyoutMenu a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 5px auto;
  border-top: 2px solid #61DAFB;
  border-bottom: 2px solid #61DAFB;
  border-left: 2px solid #61DAFB;
  border-right: 2px solid #61DAFB;
  border-width: 10px;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  background-color: #61DAFB;
  width: 40%;
}
}
@media screen and (min-width : 0px) and (max-width : 767px){
  #flyoutMenu a{
    width: auto;
      background-size: cover;
  }
}