body {
  margin: 0;
    font-family: 'Courier New',
    monospace;
  background-color: aliceblue;
}
h1,p{
  color:black;
  text-align: center;
}
#intro{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-image: url(./Style/PIcs/Header.jpg);
  border-radius: 10px 10px 10px 10px;
  background-size: contain;
  background-repeat: no-repeat;
  align-content: center;
  margin: 0 20px;
  width: 40%;
  height: 300px;
}
#intro h1{
  color: aliceblue;
  font-size: 1rem;
  text-align: left;
  margin: 10px auto;
}
#intro button{
  width: 100px;
  height: 30px;
  list-style: none;
  border-radius: 10px;
  align-content: flex-start;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  padding: 3px 5px;
  border: none;
  box-shadow: aliceblue;
}
#intro button:active{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding: 3px 5px;
  color:aliceblue;
  background-color: black;
}
#nature img{
  margin: 10px 20px;
}
#abstract img{
  margin: 10px 20px;
}
#portraits img{
  margin: 10px 20px;
}
@media screen and (min-width : 0px) and (max-width : 767px){
  #intro{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-image: url(./Style/PIcs/Header.jpg);
  border-radius: 10px 10px 10px 10px;
  background-size: contain;
  background-repeat: no-repeat;
  align-content: center;
  margin: 0 20px;
  width: 50%;
  height: 300px;
}
  }


